services:

  fastapi:
    #profiles: ["disabled"]
    <<: &app_build
      build:
        context: ..
        dockerfile: docker/Dockerfile
      env_file:
        - .env
      #environment:
      #  - env_file или environment
    ports:
      - "8000:8000"
    volumes:
      - ../src:/app/src  # dev
    networks:
      - common_net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      test:
        condition: service_completed_successfully

  migrations:
    <<: *app_build
    command: alembic upgrade head
    networks:
      - common_net
    depends_on:
      postgres:
        condition: service_healthy

  test:
    <<: *app_build
    command: pytest --log-level=debug
    volumes:
      - ../src:/app/src  # dev
      - ../tests:/app/tests  # dev

  celery_worker:
    #profiles: ["disabled"]
    <<: *app_build
    command: celery --app=celery_app worker --task-events --loglevel=info --queues=celery --concurrency=1
    networks:
      - common_net
    volumes:
      - ../src:/app/src  # dev
    deploy:
      replicas: 1
    depends_on:
      #redis:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      test:
        condition: service_completed_successfully

  celery_beat:
    #profiles: ["disabled"]
    <<: *app_build
    command: celery --app=celery_app beat --loglevel=debug
    networks:
      - common_net
    depends_on:
      #redis:
      rabbitmq:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      test:
        condition: service_completed_successfully

  celery_flower:
    #profiles: ["disabled"]
    image: mher/flower:2.0.1
    env_file:
      - .env
    ports:
      - "5555:5555"
    networks:
      - common_net
    depends_on:
    #  redis:
      rabbitmq:
        condition: service_healthy

  postgres:
    #profiles: ["disabled"]
    image: postgres:17
    env_file:
      - .env
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    networks:
      - common_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --username=$${POSTGRES_USER} --dbname=$${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    #profiles: ["disabled"]
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - common_net

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # AMQP протокол
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_DEFAULT_VHOST: /
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - common_net


networks:
  common_net:
    driver: bridge
